# Python 캐시 파일
__pycache__/
*.py[cod]

# 데이터베이스 파일
db.sqlite3

# 환경 변수 파일
.env

# 정적 파일
staticfiles/
media/

# IDE/편집기 설정 파일
.vscode/
.idea/
mysite/mysite/__pycache__/settings.cpython-312.pyc
mysite/mysite/__pycache__/urls.cpython-312.pyc
