/* style.css 예시 */
.list-group-item-action:hover {
    background-color: #eee;
  }
  
  .card {
    /* 팀원 소개 카드에 대한 추가 스타일 */
    border: 1px solid #ccc;
  }
  
  .card-body {
    text-align: center;
  }
  