{% extends "../base.html" %}

{% block content %}
<div class="row">
    <div class="col-12">
        <!-- 게시글 보기 -->
         <div class="card mb-3">
            <h5 class="card-header text-primary">
                <strong>{{ post.title }}</strong>
            </h5>
            <div class="card-body">
                <div class="mb-3 text-muted">
                    글쓴이 : {{ post.username }} |
                    등록일시 : {{ post.created_at | date:"Y-m-d H:i" }} |
                    수정일시 : {{ post.updated_at | date:"Y-m-d H:i" }}
                </div>
                <div class="mb-3">
                    {{ post.content | linebreaksbr }}
                </div>
            </div>
        </div>
        <div>
            <a href="{% url 'posts:list' %}" class="btn btn-primary">목록</a>
            <a href="{% url 'posts:update' post_id=post.id %}" class="btn btn-warning">수정</a>
            <button type="button" class="btn btn-danger">삭제</button>
        </div>

    </div>
</div>
{% endblock %}