{% extends 'base.html' %}

{% block page_title %}
    <title>차트 페이지</title>
{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="my-4">차트 페이지</h2>
        <div class="row">
            <!-- 첫 번째 섹션 -->
            <div class="col-md-12">
                <h4>지하철 혼잡도 위험 높은역 KPI 지표(예시)</h4>
                <div class="tableauPlaceholder" id="viz1737987955899" style="position: relative">
                    <noscript>
                        <a href="#">
                            <img alt="지하철 혼잡도" 
                                 src="https://public.tableau.com/static/images/_1/_16955576506580/sheet4/1_rss.png" 
                                 style="border: none" />
                        </a>
                    </noscript>
                    <object class="tableauViz" style="display: none;">
                        <param name="host_url" value="https%3A%2F%2Fpublic.tableau.com%2F" />
                        <param name="embed_code_version" value="3" />
                        <param name="site_root" value="" />
                        <param name="name" value="_16955576506580/sheet4" />
                        <param name="tabs" value="no" />
                        <param name="toolbar" value="yes" />
                        <param name="static_image" value="https://public.tableau.com/static/images/_1/_16955576506580/sheet4/1.png" />
                        <param name="animate_transition" value="yes" />
                        <param name="display_static_image" value="yes" />
                        <param name="display_spinner" value="yes" />
                        <param name="display_overlay" value="yes" />
                        <param name="display_count" value="yes" />
                        <param name="language" value="ko-KR" />
                    </object>
                </div>
                <script type="text/javascript">
                    var divElement = document.getElementById('viz1737987955899');
                    var vizElement = divElement.getElementsByTagName('object')[0];
                    if (divElement.offsetWidth > 800) {
                        vizElement.style.width = '100%';
                        vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px';
                    } else if (divElement.offsetWidth > 500) {
                        vizElement.style.width = '100%';
                        vizElement.style.height = (divElement.offsetWidth * 0.75) + 'px';
                    } else {
                        vizElement.style.width = '100%';
                        vizElement.style.height = '1277px';
                    }
                    var scriptElement = document.createElement('script');
                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
                    vizElement.parentNode.insertBefore(scriptElement, vizElement);
                </script>
                
            </div>
        </div>
        <div class="row mt-5">
            <!-- 두 번째 섹션 -->
            <div class="col-md-6">
                <h5>상위 25% 혼잡도를 보였던 곳의 원인 분석</h5>
                <p>상위 25% 혼잡도를 보인 구간의 데이터 분석 결과를 기반으로 혼잡 원인을 시각화했습니다.</p>
                
            </div>
            <div class="col-md-6">
                <h5>출퇴근 시간대 주거지역/상업지역 비교</h5>
                <p>출퇴근 시간대 주거 지역과 상업 지역의 혼잡도를 비교한 데이터입니다.</p>
               
            </div>
        </div>
        <div class='tableauPlaceholder' id='viz1737987210763' style='position: relative'><noscript><a href='#'><img alt='대시보드 1 ' 
            src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Su&#47;SubwayRideshipSeoul&#47;1&#47;1_rss.png' style='border: none' /></a></noscript>
            <object class='tableauViz'  style='display:none;'>
                <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> 
                <param name='embed_code_version' value='3' /> <param name='site_root' value='' />
                <param name='name' value='SubwayRideshipSeoul&#47;1' />
                <param name='tabs' value='no' /><param name='toolbar' value='no' />
                <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Su&#47;SubwayRideshipSeoul&#47;1&#47;1.png' /> 
                <param name='animate_transition' value='yes' />
                <param name='display_static_image' value='yes' />
                <param name='display_spinner' value='yes' />
                <param name='display_overlay' value='yes' />
                <param name='display_count' value='yes' />
                <param name='language' value='ko-KR' />
            </object></div>                
            <script type='text/javascript'>                    
                var divElement = document.getElementById('viz1737987210763');                    
                var vizElement = divElement.getElementsByTagName('object')[0];                    
                vizElement.style.width='800px';vizElement.style.height='900px';                    
                var scriptElement = document.createElement('script');                   
                scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    
                vizElement.parentNode.insertBefore(scriptElement, vizElement);                
            </script>
        <div class="row mt-5">
            <!-- 세 번째 섹션 -->
            <div class="col-md-12">
                <h4>대책 방안 및 사회적 비용 절감 효과</h4>
                <p>사회적 비용을 줄일 수 있는 대안 방안으로 출퇴근 시간 분산 및 지역 혼잡도 개선 방안을 제시합니다.</p>
                <table border="1" cellspacing="0" cellpadding="5" style="width: 100%; border-collapse: collapse; margin-bottom:30px;">
                    <thead style="background-color: #f4f4f4; text-align: center;">
                        <tr>
                            <th style="width: 10%;">번호</th>
                            <th style="width: 45%;">대안 방안</th>
                            <th style="width: 45%;">기대 효과</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="text-align: center;">1</td>
                            <td>탄력근무제 도입</td>
                            <td>출근 및 퇴근 시간을 유연하게 조정하여 특정 시간대의 혼잡도를 완화</td>
                        </tr>
                        <tr>
                            <td style="text-align: center;">2</td>
                            <td>재택근무 확대</td>
                            <td>직장인들의 출퇴근 빈도를 감소시켜 혼잡도를 낮추고 사회적 비용 절감</td>
                        </tr>
                        <tr>
                            <td style="text-align: center;">3</td>
                            <td>대중교통 요금 차등제</td>
                            <td>혼잡 시간대(피크 타임) 요금을 높이고, 비혼잡 시간대 요금을 낮춰 이용 분산</td>
                        </tr>
                        <tr>
                            <td style="text-align: center;">4</td>
                            <td>셔틀버스 운영</td>
                            <td>주거 지역에서 주요 업무 지역으로 가는 셔틀버스를 운영하여 대중교통 혼잡 완화</td>
                        </tr>
                        <tr>
                            <td style="text-align: center;">5</td>
                            <td>지역 기반 분산 정책</td>
                            <td>주요 업무 지역을 분산하여 근무지를 주거 지역 가까운 곳으로 재배치</td>
                        </tr>
                        <tr>
                            <td style="text-align: center;">6</td>
                            <td>승차 공유 서비스 활성화</td>
                            <td>같은 방향으로 이동하는 직장인들이 차량을 공유해 교통량 감소</td>
                        </tr>
                        <tr>
                            <td style="text-align: center;">7</td>
                            <td>대중교통 확충</td>
                            <td>혼잡한 시간대에 더 많은 열차나 버스를 투입하여 수송 능력 확대</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
